<link rel="stylesheet" href="{{ 'custom-homepage-dual-banner.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'custom-homepage-dual-banner.css' | asset_url | stylesheet_tag }}</noscript>

<div class="custom-dual-banner-wrapper">
  <div class="custom-dual-column">
    <a href="{{ section.settings.link_1 }}" class="custom-dual-link">
      <div class="custom-dual-image">
        {% if section.settings.image_1 %}
          {{ section.settings.image_1 | image_url: width: 800 | image_tag: loading: 'lazy' }}
        {% else %}
          {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      <div class="custom-dual-text-content">
        <h2 class="banner__heading inline-richtext h1">{{ section.settings.title_1 }}</h2>
        {% if section.settings.button_label_1 != blank %}
          <span class="button button--primary">{{ section.settings.button_label_1 }}</span>
        {% endif %}
      </div>
    </a>
  </div>
  
  <div class="custom-dual-column">
    <a href="{{ section.settings.link_2 }}" class="custom-dual-link">
      <div class="custom-dual-image">
        {% if section.settings.image_2 %}
          {{ section.settings.image_2 | image_url: width: 800 | image_tag: loading: 'lazy' }}
        {% else %}
          {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      <div class="custom-dual-text-content">
        <h2 class="banner__heading inline-richtext h1">{{ section.settings.title_2 }}</h2>
        {% if section.settings.button_label_2 != blank %}
          <span class="button button--primary">{{ section.settings.button_label_2 }}</span>
        {% endif %}
      </div>
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Custom Dual Banner",
  "settings": [
    { "type": "image_picker", "id": "image_1", "label": "Left Image (KIWI)" },
    { "type": "text", "id": "title_1", "label": "Left Title", "default": "NEW ARRIVALS" },
    { "type": "text", "id": "button_label_1", "label": "Left Button", "default": "WOMEN'S" },
    { "type": "url", "id": "link_1", "label": "Left Link" },
    { "type": "image_picker", "id": "image_2", "label": "Right Image (FIG)" },
    { "type": "text", "id": "title_2", "label": "Right Title", "default": "BEST SELLERS" },
    { "type": "text", "id": "button_label_2", "label": "Right Button", "default": "MEN'S" },
    { "type": "url", "id": "link_2", "label": "Right Link" }
  ],
  "presets": [
    {
      "name": "Custom Dual Banner"
    }
  ]
}
{% endschema %}